* {
    box-sizing: border-box;
}

.menu {
    float:left;
    width:20%;
    text-align:center;
}

.menu a {
    background-color:#b53131;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color: white;
}

.main {
    float:left;
    width:60%;
    padding:0 20px;
}

.main-top {
    float:left;
    width:100%;
    padding:0 20px;
}

.center {
    float: right;
    width:92%;
    padding:25px 20px;
    text-align: left;
}

.mid-space {
    width: 80%;
    padding: 0px 200px;
}

.right {
    background-color:#b53131;
    float:right;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align: center;
    display: inline-block;
    color: white;
}

.left {
    background-color:#b53131;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align: center;
    display: inline-block;
    color: white;
}

.right-new {
    float:right;
    width:40%;
    padding:15px;
    margin-top:7px;
    text-align: left;
    display: inline-block;
}

.right-new-new {
    float:right;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align: left;
    display: inline-block;
}

.left-new {
    float:left;
    width:60%;
    padding:15px;
    margin-top:7px;
    text-align: left;
    display: inline-block;
}

.left-new-new {
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align: left;
    display: inline-block;
}


.main-right {
    float: left;
    width:20%;
    padding:0 20px;
}

.banner {
    width: 100%;
    height: 200px;
}

.element {
 padding: 12px 12px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width:100%;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #b53131;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #b53131;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.image-description {
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    size: 5px;
    text-align: center;
}

.portrait {
    padding:5px;
   height: 280px;
    width: 350px;
    display: flex;
    justify-content: center;
}

.left-picture {
    float: left;
    display: flex;
    width: 8%;
}

.right-picture {
    float: right;
    display: flex;
    width: 16%;
}

.right-picture-new {
    float: right;
    display: flex;
    width: 56%;
}

.left-picture-text {
    display: flex;
    float: right;
    width: 86%;
}


.right-picture-text {
    text-align: right;
    padding: 0px 30px;
    float: right;
    width: 46%;
}

.cursive {
    font-style: italic;
}

.list {
    width: 65%;
}
